<!-- individual event template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <% include head %>
    <link rel="stylesheet" href="/stylesheets/event.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>

    <script>
        function ajax(obj,eventID){
            if(obj.classList.contains("fa-heart")){
                obj.style="color:#fff";
                obj.className ="fa fa-heart-o";
                document.getElementById("likeNum"+eventID).innerHTML= +document.getElementById("likeNum"+eventID).innerHTML-1;
            }
            else{
                obj.className ="fa fa-heart";
                obj.style="color:#ff4d68";
                document.getElementById("likeNum"+eventID).innerHTML= +document.getElementById("likeNum"+eventID).innerHTML+1;
            }

            var formdata = eventID;
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange=function(){
                if(xmlhttp.readyState==4 && xmlhttp.status==200){
                    document.getElementById("likeNum"+eventID).innerHTML=xmlhttp.responseText;
                };
            };
            xmlhttp.open("POST","",true);
            xmlhttp.send(formdata);
            return false;
        }
    </script>
</head>
<body>

<header>
    <% include nav %>
</header>




<div class="row">
    <form>
        <input type="hidden" name="eventID" value="<%=event._id%>"/>
    </form>
    <div class="cardX card">
        <div class="wrapper" style="background:url('/img/<%= event.id %>');background-size:cover">
            <div class="header">
                <div class="date">

                    <span class="createdDate"><%= event.created.toDateString()%></span>
                </div>
                <ul class="menu-content">

                    <li><% if (myLikes!=null) { %>
                        <a class="fa fa-heart" onClick="return ajax(this,'<%=event._id%>');" style="font-size:16px;color:#ff4d68">
                            <% } else { %>
                            <a  onClick="return ajax(this,'<%=event._id%>');" class="fa fa-heart-o" style="font-size:16px;">
                                <% }; %>
                                <% if(event.likes<1||event.likes==null){ %>
                                <span id="likeNum<%=event._id%>">0</span>
                                <% } else { %>
                                <span id="likeNum<%=event._id%>"><%=event.likes%> </span>
                                <% }; %>

                            </a>
                    </li>

                    <!--
                    <li><a class="fa fa-user" style="font-size:16px;"><span><%=event.going%></span></a></li>
                    -->
                    <% if (myEvents!=null) { %>
                    <li style="padding:0px;margin:0px;  ">
                        <form id="quit<%=event._id%>" action="/quitEvent" method="POST">
                            <input type="hidden" name="eventID" value="<%=event._id%>"/>
                            <button onClick=document.getElementById('quit<%=event._id%>').submit()>Joined<p class="fa fa-check"></button>
                        </form>
                    </li>

                    <% } else { %>
                    <li style="padding:0px;margin:0px;  ">
                        <form id="<%=event._id%>" action="/join" method="POST">
                            <input type="hidden" name="eventID" value="<%=event._id%>"/>
                            <button onClick=document.getElementById('<%=event._id%>').submit()>Join</button>
                        </form>

                    </li>

                    <%}%>
                </ul>
            </div>
            <% if (!event.active) { %>
            <div class="rubber_stamp">Deleted</div>
            <% }; %>
        </div>
        <div id="map_canvas" style="width:100%; height:100%"></div>
        <div class="content-2">
            <li class="user-list__item2">
                <p>Host</p>
                <img class="user-list__avatar-creator" style="background-image: url(<%=creator.avatar%>);">
                <div class="user-list__name"><%=creator.name%></div>
                <% if (user.oauthID==creator.oauthID) { %>
                <div class="user-list__name">
                    <form id="devent" action="/delete-event" method="POST">
                        <input type="hidden" name="eventID" value="<%=event._id%>"/>
                        <a class="dbutton"  role="button" onClick=document.getElementById('devent').submit()>
                            <span>Delete Event</span>
                            <div class="icon">
                                <i class="fa fa-remove"></i>
                                <i class="fa fa-check"></i>
                            </div>
                        </a>
                    </form>
                </div>
                <% }; %>
            </li>
            <h1 class="title"><%= event.title %></h1>
            <p class="des"><%= event.description %></p>
            <p class="text">Location:<%=event.location%></p>
            <p class="text">Prefered Language:<%=event.prefLang%></p>
        </div>
    </div>



</div>
<div class="row maprow">
    <div id="map"></div>
</div>
<div class="row">
    <div id="color-title">Participants</div>
    <ul class="user-list">
        <% userInEvent.forEach((uie) => { %>
        <li class="user-list__item">
            <img class="user-list__avatar" style="background-image: url(<%=uie.avatar%>);">
            <div class="user-list__name"><%=uie.name%></div>
        </li>
        <% }) %>
    </ul>
</div>



<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 400px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }
</style>







<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%=event.lat%>, lng: <%=event.long%>},
            zoom: 16
        });
        addMarker();
    }
    function addMarker() {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(<%=event.lat%>,  <%=event.long%>),
            map: map
        });
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1--POJ59u8OwyG0bkRsf21BHAgPU5dDw&callback=initMap"
        async defer></script>



<footer>
    <% include footer %>
</footer>






</body>
</html>

