<!-- individual event template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <% include head %>
    <link rel="stylesheet" href="/stylesheets/event.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>

</head>
<body>

<header>
    <% include nav %>
</header>




<div class="row">
    <form>
        <input type="hidden" name="eventID" value="<%=event._id%>"/>
    </form>
    <div class="cardX card">
        <div class="wrapper" style="background:url('/img/<%= event.id %>');background-size:cover">
            <div class="header">
                <div class="date">

                    <span class="createdDate"><%= event.created%></span>
                </div>
                <ul class="menu-content">

                    <li><% if (myLikes.indexOf(String(event._id))!=-1) { %>
                        <a class="fa fa-heart" style="font-size:16px;color:#ff4d68">
                            <% } else { %>
                            <a  onClick="return ajax('<%=event._id%>');" class="fa fa-heart-o" style="font-size:16px;">
                                <% }; %>
                                <% if(event.likes<1||event.likes==null){ %>
                                <span id="likeNum<%=event._id%>">0</span>
                                <% } else { %>
                                <span id="likeNum<%=event._id%>"><%=event.likes%> </span>
                                <% }; %>

                            </a>
                    </li>
                    </form>
                    <!--
                    <li><a class="fa fa-user" style="font-size:16px;"><span><%=event.going%></span></a></li>
                    -->
                    <% if (myEvents.indexOf(String(event._id))!=-1) { %>
                    <li style="padding:0px;margin:0px;  ">
                        <form id="quit<%=event._id%>" action="/quitEvent" method="POST">
                            <input type="hidden" name="eventID" value="<%=event._id%>"/>
                            <button onClick=document.getElementById('quit<%=event._id%>').submit()>Joined<p class="fa fa-check"></button>
                        </form>
                    </li>

                    <% } else { %>
                    <li style="padding:0px;margin:0px;  ">
                        <form id="<%=event._id%>" action="/join" method="POST">
                            <input type="hidden" name="eventID" value="<%=event._id%>"/>
                            <button onClick=document.getElementById('<%=event._id%>').submit()>Join</button>
                        </form>

                    </li>

                    <%}%>
                </ul>
            </div>



        </div>
        <div class="content-2">
            <li class="user-list__item2">
                <p>Host</p>
                <img class="user-list__avatar-creator" style="background-image: url(<%=creator.avatar%>);">
                <div class="user-list__name"><%=creator.name%></div>
            </li>
            <h1 class="title"><%= event.title %></h1>
            <p class="text"><%= event.description %></p>
            <p class="text">Location:<%=event.location%></p>
        </div>
    </div>



</div>
<div class="row">
    <ul class="user-list">
        <% userInEvent.forEach((uie) => { %>
        <li class="user-list__item">
            <img class="user-list__avatar" style="background-image: url(<%=uie.avatar%>);">
            <div class="user-list__name"><%=uie.name%></div>
        </li>
        <% }) %>
    </ul>
</div>









<footer>
    <% include footer %>
</footer>

</body>
</html>

