<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>To infinity</title>

    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/eventX.css"/>
    <link rel="stylesheet" href="/stylesheets/eventX2.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <script>
        function ajax(obj,eventID){
            if(obj.classList.contains("fa-heart")){
                obj.style="color:#fff";
                obj.className ="fa fa-heart-o";
                document.getElementById("likeNum"+eventID).innerHTML= +document.getElementById("likeNum"+eventID).innerHTML-1;
            }
            else{
                obj.className ="fa fa-heart";
                obj.style="color:#ff4d68";
                document.getElementById("likeNum"+eventID).innerHTML= +document.getElementById("likeNum"+eventID).innerHTML+1;
            }

            var formdata = eventID;
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange=function(){
                if(xmlhttp.readyState==4 && xmlhttp.status==200){
                    document.getElementById("likeNum"+eventID).innerHTML=xmlhttp.responseText;
                };
            };
            xmlhttp.open("POST","",true);
            xmlhttp.send(formdata);
            return false;
        }
    </script>
</head>
<body class="index-body">

<header>
    <% include nav %>
</header>

<div class="container-fluid">

    <div class="eventfilter">

        <h5 id="citytitle" class="filtertitle">Same City</h5>
        <svg class="filter" version="1.1">
            <defs>
                <filter id="gooeyness">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooey" />
                    <feComposite in="SourceGraphic" in2="gooey" operator="atop" />
                </filter>
            </defs>
        </svg>
        <div class="toggle">
            <div class="bar"></div>
            <div class="knob"></div>
        </div>
    </div>


    <div class="row">
        <h1>Discover Possibilities</h1>
        <% include map %>
        <% events.forEach((event) => { %>


        <div class="cardX card indexCard <% if (!user.city|| user.city.indexOf(event.location)!=-1) {%>showX<%}else{%>hideX<%}%>">
            <div class="wrapper"style="background:url('/img/<%= event.id %>') no-repeat;background-size: auto 300px;" onClick="map.setCenter({lat: <%=event.lat%>, lng: <%=event.long%>});">
                <div class="header">
                    <div class="date">

                        <a href="/event/<%= event.id %>"><span class="createdDate"><%= event.created.toDateString()%></span></a>
                    </div>
                    <ul class="menu-content">

                        <li><% if (myLikes.indexOf(String(event._id))!=-1) { %>
                            <a class="fa fa-heart" onClick="return ajax(this,'<%=event._id%>');" style="font-size:16px;color:#ff4d68">
                                <% } else { %>
                                <a  onClick="return ajax(this,'<%=event._id%>');" class="fa fa-heart-o" style="font-size:16px;">
                                    <% }; %>
                                    <% if(event.likes<1||event.likes==null){ %>
                                    <span id="likeNum<%=event._id%>">0</span>
                                    <% } else { %>
                                    <span id="likeNum<%=event._id%>"><%=event.likes%> </span>
                                    <% }; %>

                                </a>
                        </li>
                        <!--
                    <li><a class="fa fa-user" style="font-size:16px;"><span><%=event.going%></span></a></li>
                    -->
                        <% if (myEvents.indexOf(String(event._id))!=-1) { %>
                        <li style="padding:0px;margin:0px;  ">
                            <form id="quit<%=event._id%>" action="/quitEvent" method="POST">
                                <input type="hidden" name="eventID" value="<%=event._id%>"/>
                                <button onClick=document.getElementById('quit<%=event._id%>').submit()>Joined<p class="fa fa-check"></button>
                            </form>
                        </li>

                        <% } else { %>
                        <li style="padding:0px;margin:0px;  ">
                            <form id="<%=event._id%>" action="/join" method="POST">
                                <input type="hidden" name="eventID" value="<%=event._id%>"/>
                                <button onClick=document.getElementById('<%=event._id%>').submit()>Join</button>
                            </form>

                        </li>

                        <%}%>
                    </ul>
                </div>
                <div class="data">
                    <div class="content">
                        <h1 class="title"><a href="#"><%= event.title %></a></h1>
                        <p class="text"><%= event.description %></p>
                        <a href="/event/<%=event._id%>" class="button">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
    </div>
</div>

<footer>
    <% include footer %>
</footer>
<script src="/javascripts/filter.js"></script>
</body>
</html>