<!-- views/users.ejs -->
<!-- The Actual Working Profile -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <% include head %>
    <link rel="stylesheet" href="/stylesheets/profile.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.0/anime.min.js"></script>




</head>
<body>

<header>
    <% include nav %>
</header>


<div class="hero">
    <!--   <h1>UX / UI Designer & Developer Working in Detroit.</h1> -->
    <div class="hero-sides hero-sides__left">


            <div class="card">
                <!-- Header -->
                <div class="card-header">

                    <div class="card-header__avatar" style="background:url(<%= user.avatar %>) no-repeat center;

                            box-sizing:border-box;
                            border-radius: 50%;
                            width:200px;
                            height:200px;
                            z-index:99;
                            margin-left: calc(50% - 100px);;
                            border: 10px solid rgba(13,88,77,0.3);"></div>


                </div>
                <!-- Content-->
                <div class="card-content">
                    <div class="card-content__username"><%= user.name %></div>
                    <div class="card-content__bio">
                        <h4>Bio</h4>
                        <form action="/updateBio" method="POST">
                            <input id="bioForm" type="text-area" name="bio" maxlength="150" value="<%=user.bio%>"/>
                            <h4>City</h4>

                            <input id="searchTextField"  autocomplete="on" type="text" name="city" maxlength="150"
                                   value="<% if(user.city) { %><%=user.city%><% };%>" class="updatef"/>
                            <div class="biob">
                                <button id="button"></button>
                            </div>
                        </form>
                    </div>


                </div>



            </div>




    </div>
    <div class="hero-sides hero-sides__right">
        <div class="m-dropdown">
            <div class="e-button open">
                Past Events
                <div class="e-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="e-list">
                <% joins.forEach((join) => { %>
                <li>
                    <a href="/event/<%=join.eventID%>">
                        Date:<%=join.created.toDateString()%></a>

                </li>
                <%})%>

            </ul>
        </div>
    </div>
</div>





<script src="/javascripts/profile.js"></script>

<footer>
    <% include footer %>
</footer>
<% include place %>
</body>
</html>
